face_detection_with_SVMs/code/vlfeat/** linguist-vendored
face_detection_with_SVMs/data/** linguist-vendored
seam_carving_octave/functions/*.m linguist-language=MATLAB
face_detection_with_SVMs/code/*.m linguist-language=MATLAB
